body {
    width: 400px;
}

h1 {
    font-size: 16px;
}

table {
    width: 100%;
    font-size: 14px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
}

button {
    height: 40px;
    width: 100px;
    outline: none;
}

#clearStorage {
    margin-top: 10px;
}